@font-face {
  font-family: 'dijital';
  src: url(Gjfont.ttf);
}
body {
  font-family: 'Cairo', sans-serif;
  background-color: #20212D;
}

.countenair {
  position: relative;
  background-color: #000000;
  height: 340px;
  width: 250px;
  padding: 20px 25px;
  border-radius: 20px;
  top: 30vh;
  left: 7vh;
  box-shadow: 2px 2px 20px 5px #8E8E8E70;
}

.Button {
  font-size: 20px;
  border-radius: 50%;
  width: 150px;
  height:150px;
  background-color: #2A2D26;
  border: 7px solid #DDD9D9E6;
  font-family: 'Cairo', sans-serif;
  /*  box-shadow: 2px 2px 10px 5px #DDDDDD;*/
  padding: 10px;
  vertical-align: top;
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-20%);
}
.Button:active {
  margin-top: 9px;
}
.number {
  font-family: 'dijital';
  background: #576E71;
  height: 50px;
  width: 130px;
  padding: 9px 5px 19px;
  text-align: right;
  border-radius: 7px;
  margin: 20px auto;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #2A2D26;
  border: 5px solid #DDD9D9E6;
  border-radius:40px;
  position: absolute;
  right:0;
  margin-right: 10px;
}
.btn:active {
  box-shadow: 0 0 0 white;
  margin: 5px 10px 2px 10px;

}
#target {
  width: 30px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #161816;
}


.menu {
  position: absolute;
  width: 190px;
  transform: translate(90px, -320px);
  
  
}

.menu ul {
  list-style: none;
  padding:5px 6px;
  position: absolute;
  background-color: #293F4A;
  border-radius: 4px;
  visibility: hidden;
  right: 40px;
  width: 160px;
  transition: margin-right .3s;
}
li {
  border-bottom: 1px solid #000000D4;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom:9px;  
  overflow: hidden;
}
li:first-child{
  font-size: 22px;
}
.menu .visible {
  visibility: visible;
  margin-right: 30px;
}
.mybtn {
  border-radius: 6px;
  width:48px;
  height: 30px;
  border: 1px solid black;
  background-color: #787878;
  color: black;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#target{
  width: 40px;
  margin-top: 13px;
  padding: 0px;
  
}
input {
	border: none;
	outline: none;
	width: 32px;
	height: 32px;
}

.div {
  height: 50px;
  width: 35px;
  position: fixed;
  margin:0px;
  top:10px;
  right:5px;
}
.div span {
  position: absolute;
  background-color: black;
  height: 7px;
  width: 100%;
  display: inline-block;
  left: 0;
  transition:all 0.3s ease;
  border-radius: 4px;
}
.div span:first-child {
  top:0;
}
.div span:nth-child(2){
  top:9px;
}
.div span:last-child {
  top:18px;
}
.my span:first-child,
.my span:last-child {
  top:2px;
}
.my span:first-child {
  transform:rotate(40deg);
  background-color: red;
}
.my span:last-child {
  transform:rotate(-40deg);
  background-color: red;
}
.get {
  opacity: 0;
}
